h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans;
  margin-bottom: $spacing-md;

  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  h3 { font-size: 28px; }
}

p {
  margin-bottom: $spacing-md;
  font-size: 16px;
  line-height: 24px;
}

small {
  font-size: 14px;
  color: $color-secondary;
}
